{% load blog-tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Form</title>
</head>
<body>

    <form action="{% url 'test' %}" method="post" >
        {% csrf_token %}
        <label>name</label>
        <input name="name" type="text"><br>
        <label>email</label>
        <input name="email" type="email"><br>
        <label>subject</label>
        <input name="subject" type="text"><br>
        <label>message</label>
        <input name="message" type="text">
        <button type="submit">submit</button>

    </form>

</body>
</html>